.user-widget-wrapper {
  border-radius: var(--border-radius-md);
  transition: all 0.2s ease;
}

.user-widget-wrapper:hover {
  background-color: var(--gray-800);
  cursor: pointer;
}

.user-widget-wrapper:hover .avatar {
  border: 2px solid var(--pink-500);
}
