.btn {
  padding: 0.8em 1em;
  width: 100%;
  font-weight: bold;
  border-radius: var(--border-radius-sm);
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.btn.primary {
  background: linear-gradient(to right, var(--pink-400), var(--pink-600));
}

.btn:hover {
  transform: scale(0.99);
}

.btn.small {
  width: 100%;
  max-width: 120px;
  font-size: 1rem;
}

.btn.circle {
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 50%;
}

.btn.delete {
  color: var(--red-500);
}

.btn.delete:hover {
  background-color: var(--red-500);
  color: var(--gray-900);
}

.btn.muted {
  background-color: var(--gray-800);
  color: var(--gray-100);
}

.btn:disabled {
  cursor: not-allowed;
}
