.nav-item i {
  opacity: 0.5;
  transition: all 0.2s ease;
}

.nav-item:hover i,
.nav-item-subnav:hover i {
  color: var(--pink-500);
  opacity: 1 !important;
}

.nav-item:hover,
.nav-item-subnav:hover {
  background-color: var(--gray-800);
  opacity: 1;
}

.nav-item {
  border-radius: var(--border-radius-md);
  transition: all 0.2s ease;
  width: 100%;
}

.navbar {
  width: 100%;
  max-width: 350px;
  border-right: 2px solid var(--gray-800);
  padding-right: 1em;
  position: sticky;
  top: 0;
  height: calc(100vh - 80px);
}

.nav-item.active i {
  color: var(--pink-500);
  opacity: 1;
}

.nav-item-subnav {
  color: var(--white);
  font-weight: bold;
  opacity: 0.3;
}

.nav-item-subnav.active {
  color: var(--pink-500);
  opacity: 1;
}
