.field-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field-group:not(:last-child) {
  margin-bottom: 1em;
}

.form-input {
  width: 100%;
  background-color: var(--gray-700);
  padding: 1em;
  border-radius: var(--border-radius-sm);
  color: var(--white);
}

.form-input::placeholder {
  font-style: italic;
}

@media screen and (max-width: 425px) {
  .form .mobile-column {
    flex-direction: column;
  }

  .form .mobile-column .btn {
    width: 100%;
    margin: 0.5em 0;
    margin-top: 1em;
  }

  .form .mobile-column textarea {
    margin: 0;
  }

  .form .mobile-column > div {
    width: 100%;
  }
}
