.results-wrapper {
  background-color: var(--white);
  width: 100%;
}

.results-wrapper > a:not(:last-child) {
  margin-bottom: 0.5em;
}

.item-wrapper:hover p {
  color: var(--pink-500);
}
@media screen and (max-width: 768px) {
  .results-wrapper {
    position: relative;
  }
}
