.feed-post {
  transition: all 0.2s ease;
}

.feed-post.is-not-modal {
  margin-bottom: 1em;
  margin-top: 1em;
}

.feed-post-border:not(:last-child) {
  border-bottom: 2px solid var(--gray-800);
}

.post-body {
  cursor: pointer;
}

.feed-post.is-not-modal:hover {
  background-color: var(--gray-800);
}

.post-snippet-wrapper {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.raised-icon {
  display: flex;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
}

.raised-icon.small {
  border-radius: 50%;
  background: var(--white);
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.raised-icon.small i {
  margin-right: -1px;
  margin-bottom: -1px;
}

.raised-icon.primary {
  background: var(--gray-700);
  border-radius: 10px;
  padding: 1em;
}

.raised-icon.primary:hover {
  background: var(--pink-500);
}

@media screen and (max-width: 425px) {
  .feed-post {
    padding: 1em 0;
  }

  .feed-post-username {
    width: 170px;
  }
}

@media screen and (max-width: 320px) {
  .feed-post {
    padding: 1em 0;
  }

  .feed-post-username {
    width: 100px;
  }
}
