.snippet-item {
  transition: all 0.2s ease;
}

.snippet-item:hover {
  background-color: var(--gray-800);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .snippets-header {
    flex-direction: column;
  }

  .snippets-header .btn.primary {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .snippet-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 425px) {
  .snippets-header .btn.primary {
    width: 100%;
  }

  .snippets-header .w-fit {
    width: 100%;
  }

  .snippet-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 320px) {
  .snippet-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
