@media screen and (max-width: 435px) {
  .new-feed-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .feed-post-actions {
    margin-top: 1em;
    width: 100%;
  }

  .feed-post-actions .search-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .snippet-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
