.selected-project {
  background: var(--redGradient);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.selected-project i {
  color: var(--gray-800);
}

@media screen and (max-width: 587px) {
  .projects-options {
    flex-direction: column;
  }
  .projects-options > div {
    margin-left: 0;
    margin-top: 1em;
  }
}
