@media screen and (max-width: 768px) {
  .envvar-header {
    flex-direction: column;
  }

  .envvar-header .btn.primary {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .envvar-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 425px) {
  .envvar-header .btn.primary {
    width: 100%;
  }

  .envvar-header .w-fit {
    width: 100%;
  }

  .envvar-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 320px) {
  .envvar-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
